snippet fori "for (i;<;++)"
	for (int i = ${1}; i < ${2}; ++i)
	{
	    ${VISUAL}${0}
	}

#snippet ns "namespace"
	#namespace ${1:`!p
	#if not snip.c:
		#import random, string
		#name = re.sub(r'[^A-Za-z0-9]+','_', snip.fn).upper()
		#rand = ''.join(random.sample(string.ascii_letters+string.digits, 8))
		#snip.rv = ('%s_%s' % (name,rand)).upper()
	#else:
		#snip.rv = snip.c`} {
		#${VISUAL}${0}
	#} // namespace ${1}
